.Timer .circular-progress {
    width: 400px;
    height: 400px;
}
  
.circular-progress-background {
    fill: none;
    stroke: #BFB99B;
    stroke-width: 19;
}
  
.circular-progress-foreground {
    fill: none;
    stroke: #594336;
    stroke-width: 20;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: center;
    transition: stroke-dashoffset 0.5s;
}
  
.circular-progress-text {
    text-anchor: middle;
    dominant-baseline: middle;
    fill: #BFB99B;
    font-size: 36px;
    font-weight: bold;
}